main {
	text-align: center;
}
footer {
	text-align: center;
}
#mainMenu {
	border: 0px;
	height: 40px;
	width: 100%;
}
#header {
	background-color: #666666;
}
.amenu {
	border: 0px solid red;
	margin: 2px;
	padding: 2px;
	color: white;
}